.green-bg {
  background-color: green ;
}

.see-through-img {
  background-image: url("/Green/assets/img/slide/slide-1.jpg");
  opacity: 0.6;
} 



#solid-text {
  opacity: 1;}
  div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}
